.login-button {
    /* background-color: #009970; */
    background-color:#6495ED;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    border: none; /* Remove Bootstrap button border */
    display: inline-block; /* Ensure proper button shape */
  }
  /* .navbar {
  
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out;
} */
.navbar.scrolled {
  backdrop-filter: blur(8px); /* Adds blur effect */
  transition: all 0.3s ease-in-out;
}

  .navbar-brand {
    font-weight: 500;
    color: black;
    font-size: 24px;
    transition: 0.3s color;
}
.image-box {
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out 0.1s; ;
    border-radius: 8px;
}

.image-box:hover {
    box-shadow: 0 8px 20px rgba(128, 128, 128, 0.6); /* Gray shadow */
    border-radius: 8px; /* Optional: to make edges smoother */
    transform: scale(1.1);
}
  
  .login-button:hover {
    /* background-color: #00b383; */
    background-color:#4682B4
  }
  
  /* Logout Button (if needed) */
  .logout-button {
    background-color: #d9534f;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    border: none;
  }
  
  .logout-button:hover {
    background-color: #c9302c;
  }

  /* Remove default border and focus outline from toggler */
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
  }
  
  .navbar-toggler:focus,
  .btn-close:focus {
    box-shadow: none;
    outline: none;
  }
  
  /* Navbar Links */
  .nav-link {
    color: #666777;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  /* Active and Hover Effects */
  .nav-link:hover,
  .nav-link.active {
    /* color: #009970; */
    color: black;
  }
  
  /* Underline effect for links on large screens */
  @media (min-width: 991px) {
    .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #000000;
      visibility: hidden;
      transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
  
    .nav-link:hover::before,
    .nav-link.active::before {
      width: 100%;
      visibility: visible;
    }
  }
  
  